@import '~normalize.css';
@import 'consts.scss';

@font-face {
  font-family: excellenceBold;
  src: url(assets/ExcellenceInMotionV-Bold.otf);
}
@font-face {
  font-family: excellenceRegular;
  src: url(assets/ExcellenceInMotionV.otf);
}

html, body {
  padding: 0;
  margin: 0;
}

h1, h2, p, span {
  font-family: 'excellenceRegular', Helvetica, sans-serif;
}
